
// Normalize Styles
@import node_modules/normalize.css/normalize

// Import Modules
@import ../_modules/link/link
@import ../_modules/header/header
@import ../_modules/card/card

// Pages
@import ../main/index




// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font-family: 'Roboto'


html, body
  margin: 0
  padding: 0

body
  font-family: 'Roboto'
  background-color: #EEE
  -webkit-font-smoothing: antialiased
  color: #444
  overflow-x: hidden


::-webkit-scrollbar
  width: 4px


::-webkit-scrollbar-track
  background-color: $primary-200


::-webkit-scrollbar-thumb
    background-color: $primary-500
