$primary-50 : #FFEBEE
$primary-100: #FFCDD2
$primary-200: #EF9A9A
$primary-300: #E57373
$primary-400: #EF5350
$primary-500: #F44336
$primary-600: #E53935
$primary-700: #D32F2F
$primary-800: #C62828
$primary-900: #B71C1C

$accent-50 : #E0F7FA
$accent-100: #B2EBF2
$accent-200: #80DEEA
$accent-300: #4DD0E1
$accent-400: #26C6DA
$accent-500: #00BCD4
$accent-600: #00ACC1
$accent-700: #0097A7
$accent-800: #00838F
$accent-900: #006064

$green-50 : #E8F5E9
$green-100: #C8E6C9
$green-200: #A5D6A7
$green-300: #81C784
$green-400: #66BB6A
$green-500: #4CAF50
$green-600: #43A047
$green-700: #388E3C
$green-800: #2E7D32
$green-900: #1B5E20

$blue-50 : #E1F5FE
$blue-100: #B3E5FC
$blue-200: #81D4FA
$blue-300: #4FC3F7
$blue-400: #29B6F6
$blue-500: #03A9F4
$blue-600: #039BE5
$blue-700: #0288D1
$blue-800: #0277BD
$blue-900: #01579B

$breakpoint-medium: 960px
$breakpoint-small: 680px
