block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block main
  .container 
    
    .license-definitions
        
      .permissions.legal-catgory
        .card
          .legal-label.legal-label-permissions Permissons
    
        .splitter.permissions-color-splitter-left

        .card
          .permission
            .permission-color.permission-commercial
            .permission-name Commercial Use
        
        .card      
          .permission
            .permission-color.permission-distribution
            .permission-name Distribution
            
        .card
          .permission
            .permission-color.permission-modification
            .permission-name Modification
            
        .card
          .permission
            .permission-color.permission-patent
            .permission-name Patent Use
      
        .card
          .permission
            .permission-color.permission-private
            .permission-name Private Use
      
      .conditions.legal-catgory
        .card
          .legal-label.legal-label-conditions Conditions
    
        .splitter.conditions-color-splitter-left

        .card
          .condition
            .condition-color.condition-disclose
            .condition-name Disclose Source
        
        .card      
          .condition
            .condition-color.condition-license-and-copyright-notice
            .condition-name License and Copyright Notice
            
        .card
          .condition
            .condition-color.condition-network-use
            .condition-name Network Use Is Distribution
            
        .card
          .condition
            .condition-color.condition-same-license
            .condition-name Same License
      
        .card
          .condition
            .condition-color.condition-state-changes
            .condition-name State Changes
        
      .limitations.legal-catgory
        .card
          .legal-label.legal-label-limitations Limitations
    
        .splitter.limitations-color-splitter-left

        .card
          .limitation
            .limitation-color.limitation-hold-liable
            .limitation-name Hold Liable
        
        .card      
          .limitation
            .limitation-color.limitation-trademark-use
            .limitation-name Trademark Use
    
                
            
    h1 Popular Licenses
    .license-container
      .license-list
        .license-splitters
          .splitter.license-splitter-left
          .splitter.license-splitter-middle
          .splitter.license-splitter-right
          
        .license-labels
          .list-item.card.license-labels-items
            span.label-license-name Name
            span.label-license-permissions Permissions
            span.label-license-conditions Conditions            
            span.label-license-limitations Limitations
          
        .list-item.card.license-item
          .license-item-collapsed
            span.license-name MIT
            div.license-permissions
              .license-color-code.license-color-code-permission-commercial-use
              .license-color-code.license-color-code-permission-distribution
              .license-color-code.license-color-code-permission-modification
              .license-color-code.license-color-code-permission-private-use
                
            div.license-conditions
              .license-color-code.license-color-code-conditions-license-and-copyright-notice
            
            div.license-limitations
              .license-color-code.license-color-code-limitations-hold-liable
                
            i.copy.material-icons content_copy   
          
          .license-item-expanded 
            i.material-icons.close-icon close
            .title-banner-container
              .title-banner MIT
        
        .list-item.card.license-item
          .license-item-collapsed
            span.license-name Apache License 2.0
            div.license-category.license-permissions
              .license-color-code.license-color-code-permission-commercial-use
              .license-color-code.license-color-code-permission-distribution
              .license-color-code.license-color-code-permission-modification
              .license-color-code.license-color-code-permission-patent-use
              .license-color-code.license-color-code-permission-private-use
                
            div.license-category.license-conditions
              .license-color-code.license-color-code-conditions-license-and-copyright-notice
              .license-color-code.license-color-code-conditions-state-changes
            
            div.license-limitations
              .license-color-code.license-color-code-limitations-hold-liable
              .license-color-code.license-color-code-limitations-trademark-use
            
            i.copy.material-icons content_copy  
        
          .license-item-expanded 
            i.material-icons.close-icon close
      
      
        .list-item.card.license-item
          .license-item-collapsed
            span.license-name GNU AGPLv3
            div.license-category.license-permissions
              .license-color-code.license-color-code-permission-commercial-use
              .license-color-code.license-color-code-permission-distribution
              .license-color-code.license-color-code-permission-modification
              .license-color-code.license-color-code-permission-patent-use
              .license-color-code.license-color-code-permission-private-use
                
            div.license-category.license-conditions
              .license-color-code.license-color-code-conditions-disclose-source
              .license-color-code.license-color-code-conditions-license-and-copyright-notice
              .license-color-code.license-color-code-conditions-network-use-is-distribution
              .license-color-code.license-color-code-conditions-same-license
              .license-color-code.license-color-code-conditions-state-changes
            
            div.license-limitations
              .license-color-code.license-color-code-limitations-hold-liable
                    
            i.copy.material-icons content_copy   
          
          .license-item-expanded 
            i.material-icons.close-icon close 
          
          
        .list-item.card.license-item
          .license-item-collapsed
            span.license-name GNU LGPLv3
            div.license-category.license-permissions
              .license-color-code.license-color-code-permission-commercial-use
              .license-color-code.license-color-code-permission-distribution
              .license-color-code.license-color-code-permission-modification
              .license-color-code.license-color-code-permission-patent-use
              .license-color-code.license-color-code-permission-private-use
                
            div.license-category.license-conditions
              .license-color-code.license-color-code-conditions-disclose-source
              .license-color-code.license-color-code-conditions-license-and-copyright-notice
              .license-color-code.license-color-code-conditions-same-license
              .license-color-code.license-color-code-conditions-state-changes
            
            div.license-limitations
              .license-color-code.license-color-code-limitations-hold-liable
                    
            i.copy.material-icons content_copy
          
          .license-item-expanded
            i.material-icons.close-icon close
          
        .list-item.card.license-item
          .license-item-collapsed
            span.license-name GNU GPLv3
            div.license-category.license-permissions
              .license-color-code.license-color-code-permission-commercial-use
              .license-color-code.license-color-code-permission-distribution
              .license-color-code.license-color-code-permission-modification
              .license-color-code.license-color-code-permission-patent-use
              .license-color-code.license-color-code-permission-private-use
                
            div.license-category.license-conditions
              .license-color-code.license-color-code-conditions-disclose-source
              .license-color-code.license-color-code-conditions-license-and-copyright-notice
              .license-color-code.license-color-code-conditions-same-license
              .license-color-code.license-color-code-conditions-state-changes
            
            div.license-limitations
              .license-color-code.license-color-code-limitations-hold-liable
                    
            i.copy.material-icons content_copy
          
          .license-item-expanded 
            i.material-icons.close-icon close
          
    .message More licenses coming soon!   
    
  

  
